<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>{{titulo}}</title>
</head>
<body>

    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/heroes">Heroes</a></li>
    </ul>

    {{{body}}}

    <script src="assets/js/main.js"></script>
</body>
</html>