<h2>Temperatura</h2>
<div>
    <h1 id="tempOK" style="color: blue;">0</h1>
    <h1 id="tempBAD" style="color: red;">0</h1>

</div>

<br><br>

<a href="/">home</a>

<script src="socket.io/socket.io.js"></script>
<script src="js/temp.js"></script>