body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h2 {
    color: #3498db;
    margin-top: 20px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

#ordenes {
    margin-top: 20px;
}

h3 {
    color: #1abc9c;
}

h4 {
    color: #9b59b6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

hr {
    border: 1px solid #555;
    margin: 20px 0;
}


#ordenes {
    margin-top: 20px;
    padding: 20px;
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
