<h2>Websocket</h2>
<hr>

<input type="text" id="mensaje" placeholder="ingrese un mensaje">
<div id="mensajes"></div>

<br><br>
<a href="/">Home</a>
<script src="socket.io/socket.io.js"></script>
<script src="js/ws.js"></script>