<h2>Home Page</h2>
<hr>
<form action="/login" method="post">
    <div id="mensaje"></div>
    <input type="email" id="email" name="email" placeholder="email">
    <input type="password" id="password" name="password" placeholder="contraseña">
    <br><br>
    <input type="submit" id="btnSubmit" value="Ingresar">
</form>
<br><br>
<a href="/usuario" id="link">Pefil Usuario</a>

<script src="js/home.js"></script>


